body {
  background-color: #ebebeb;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #fff159;
  width: 100%;
}

ul {
  list-style: none;
}

ul li {
  padding: 10px;
  color: rgba(51, 51, 51, 0.6);
}

.header-container {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

section {
  background-color: white;
  margin-top: 10%;
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.promo-container {
  background-color: #ebebeb;
}

.card-suscribe {
  background: linear-gradient(90deg, #a90f90 55%, #0c1a51);
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.padding-special {
  padding: 10px 30px;
}

.card-footer {
  text-align: right;
  padding: 20px;
}

.card-footer button {
  background-color: #3483fa;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.find-container {
  background-color: #ebebeb;
}

.container-info {
  width: 41%;
  box-sizing: border-box;
  padding: 5.4% 5.4% 3.6%;
  margin-left: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

.benefits-title1 {
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 4px;
  margin: 0px 0px 8px;
}

.benefits-title2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  margin: 0px;
}

button {
  color: white;
  background-color: #3483fa;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
}

.promo-container {
  background-color: #ebebeb;
}

.supermarket-header {
  font-size: 26px;
  font-weight: 300;
  color: #666;
}

.column1 {
  width: 32%;
}

.column2 {
  width: 65%;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.interests {
  caret-color: #ebebeb;
}

.interest-container {
  background-color: #ebebeb;
}

.card-container img {
  width: 100%;
}
.card {
  background-color: white;
  margin: 10px;
  border-radius: 0px 0px 6px 6px;
}

.padding {
  padding-right: 600px;
}
