.pay-container img {
  height: 50px;
}

.pay-title1 {
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  font-size: 20px;
}

.pay-title2 {
  color: #3483fa;
}

.pay-info {
  color: #999;
}

.pay-container {
  border-right: 1px solid #ccc;
}

.pay-container:nth-child(2) {
  border-right: none;
}
