.picture-header {
  background: none;
}

.container-picture {
  width: 100%;
}

.container-picture img {
  width: 100%;
  border-radius: 6px 0px 0px 6px;
}

.picture-header-column1 {
  width: 60%;
}

.picture-header-column2 {
  width: 40%;
}

.benefits-message {
  background-color: black;
  color: white;
  padding: 45px;
  height: 164px;
  border-radius: 0px 6px 6px 0px;
}
